*{
    margin: 0px;
    padding: 0px;

}

body {
    background: url(img/bg4.jpeg) no-repeat center center fixed;
    background-size: cover;
}

.container{
    
    color: white;
    position: absolute;
    top: 35%;
    left: 66%;
}
.container h1{
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    border-bottom: 4px solid blue;
    margin-bottom: 10px;
    padding: 13px ;
    display: inline-block;
    color: #f5dea7;

}
.box{
    width: 100%;
    border-bottom: 2px solid blue;
    margin: 23px 2px;
   
}

.box input{
    width: 81%;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 5px 5px;
    background: none;
    color: white;
    font-family: 'Raleway', sans-serif;
}
.btn{
    color: white;
    cursor: pointer;
    outline: none;
    /* width: 25%; */
    margin: 12px 0px;
    padding: 7px 16px;
    border-radius: 12px;
    border: 2px solid #bfe2e9;
    font-size: 18px;
    background: none;
    font-weight: bold;

    
    
}
.box i{
    width: 25px;
    text-align: center;
   
}

.btn:hover{
    color: rgb(111, 192, 247);
    background: rgba(207, 237, 255, 0.205) ;}